/*  BANNER */
.banner {
    width: 100%;
    height: fit-content;
    grid-template-rows:79px auto;
}
.banner .banner-img {
    width: 100%;
    height: fit-content;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: -1;
}
.banner .banner-img img {
    width: 100%;
    height: auto;
    display: block;
}
.banner * {
    color: white;
}
.banner .tit {
    position: relative;
    height: calc(100% - 62px);
    grid-column-start: 1;
    grid-column-end: 25;
    grid-template-rows: 30% 30% 30% 10%;
    grid-row: 2;
}
.banner .tit h1 {
    grid-column-start: 2;
    grid-column-end: 16;
    max-width: 42vw;
    grid-row: 1;
    position: relative;
    font-size:104px;
    font-weight: 400;
    line-height: 110px;
    text-align: left;
    margin-top:30px;
    word-spacing: 0px;
}
.banner .tit p {
    grid-column-start: 13;
    grid-column-end: 18;
    grid-row: 2;
    font-size: 17.7px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    height: fit-content;
    word-spacing: -0.2px;
    font-family: 'DegularLight' !important;
    margin: 10px 0 0px 2.5px;
}
.banner .tit span.type-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    font-family: "DegularLight";
    font-size: 15px;
    height: fit-content;
    font-weight: bold;
    line-height: 11.72px;
    letter-spacing: 1.5px;
    text-align: left;
    margin-top: 18px;
}
.banner .tit span.type-num {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row: 3;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: 1.5px;
    height: fit-content;
    font-family: "DegularLight";
    font-weight: bold;
    margin-top: 40px;
}
.banner .tit .type-state {
    grid-column-start: 13;
    grid-column-end: 15;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -1px 0 0 2px;
    width: calc(calc(100vw/24)*1.04);
}

.banner .tit .type-state  span {
    font-family: "DegularLight";
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1.5px;
    height: fit-content;
    display: block;
    margin-top: 56px;
    margin-left: 2px;
}
/* NAVBAR */
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 79px;
 
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 24;
    grid-row: 1;
}
.nav::after {
    content: "";
    position: absolute;
    bottom:0.42px;
    left: 0;
    width: 100%;
    height: 0.1px;
    background-color: white;
}
.logo {
    font-family: "degularBold";
    font-weight: bold;
    letter-spacing: 1.42px;
   
    font-size: 19.8px;
    display: block;
    margin-top: 1px;
}
.menu-item ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 17px;
}
.menu-item ul li {
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 61px;
}
/*  part1-content */
.part1-content {
    height: fit-content;
    grid-template-rows: 162px 30% 30% 7%;
}
.part1-content * {
    color: var(--color-text-onwhite);
}
.part1-content>.tit>span.type-name,
.part2-content>.tit>span.type-name {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;

    position: relative;
    height: 100%;

    font-family: "DegularLight";
    font-size: 16px;
    
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    align-items: start;

    position: relative;
}
.part1-content>.tit>span.type-name p
{
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 15.5px;
    letter-spacing: 1.2px;
    font-weight: bold;
    margin-top: 12.95px;
    color: #B6ADA5 !important;
}
.part2-content>.tit>span.type-name p  {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 15.5px;
    letter-spacing: 1.2px;
    font-weight: bold;
    margin-top: 16px;
    color: #B6ADA5 !important;
}
.part1-content>.tit{
    padding:204px 0 178px 0;
    height: fit-content;
}
.part2-content>.tit {
    padding:201px 0 160px 0;
    height: fit-content;
}
.part1-content>.tit>h2{
    font-size: 64px;
    height: fit-content;
    line-height: 72px;
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row: 1;
    font-weight: 100;
    /* letter-spacing: 0.15px; */
    margin-left: -1px;
    font-family: "FreightBigProMedium" !important;
}
.part2-content>.tit>h2  {
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row: 1;
    font-size: 63px;
    height: fit-content;
    font-weight: bold;
    line-height: 72px;
    letter-spacing: 0.5px;
    font-family: "DegularLight" !important;
}
.part1-content>.tit>div.type-state {
    display: flex;
    grid-column-start: 19;
    grid-column-end: 20;
    grid-row: 1;
    align-items: end;
  
    justify-content: space-between;

    margin-bottom: 15px;
}
.part1-content>.tit>div.type-state span {
    color: var(--color-text-bold);
    font-family: "degularBold";
    font-size: 15.5px;
    

    line-height: normal;
}

.part1-content>.tit>div.type-state span:nth-child(2) {
    margin-left: 3px;
}
.part1-content>.tit>h2>span{
   
    color: var(--gold);
    font-size: 76px;
    line-height: 86px;
    font-weight: normal;

    font-family: "FreightBigProBook" !important;
    word-spacing: 3.5px;
}
.part2-content>.tit>h2>span {
    color: var(--gold);
    font-size: 76px;
    line-height: 82px;
    font-weight: normal;
    font-family: "FreightBigProBook" !important;
    word-spacing: 3.5px;
}
/* content on part1 */
.part1-content>.content {
    height: fit-content;
    position: relative;
    width: 100%;
}
.part1-content>.content>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.part1-content>.content>.img {
    grid-column-start: 5;
    grid-column-end: 12;
    height: 100%;
    width: 100%;

}
.part1-content>.content>.img img {
    width: 100%;
    height: auto;
    display: block;
}
.part1-content>.content>.detail {
    grid-column-start: 13;
    grid-column-end: 17;
    grid-row: 1;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}
.part1-content>.content>.line {
    width: 1px;
    height: 100%;
    background-color: var(--border-right-services-item);
    grid-column-start: 18;
    grid-column-end: 19;
}
.part1-content>.content>.detail * {
    color: var(--color-text-onwhite);
}


.part1-content>.content>.detail > div:nth-child(n) {
   height: 50%;
   display: block;
}
.part1-content>.content>.detail > div:nth-child(1) >span {
    color: var(--gold);
    font-family: "DegularLight";
    font-size: 39px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 100%;
    font-weight: bold;
    margin-top: -4px;
    display: block;
}
.part1-content>.content>.detail > div:nth-child(1) >h3 {
    font-size: 35.4px;
    font-weight: 600;
    line-height: 37.8px;
    margin-top: 67px;
    letter-spacing: 0.5px;
    font-family: 'degular-text' !important;
}

.part1-content>.content>.detail > div:nth-child(1) >.ic {
    display: flex;
    margin-top: 41px;
}
.part1-content>.content>.detail > div:nth-child(1) >.ic>div:nth-child(n) {
    display: flex;
    align-items: center;
    font-family: "DegularLight";
    width: calc(100vw/24);
}
.part1-content>.content>.detail > div:nth-child(1) >.ic>div:nth-child(n) span {
    display: flex;
    align-items: center;
}
.part1-content>.content>.detail > div:nth-child(1) >.ic>div:nth-child(n) span:nth-child(1) {
    width: 20px;
    height: 20px;
}
.part1-content>.content>.detail > div:nth-child(1) >.ic>div:nth-child(2) span:nth-child(1) {
    margin-left: 3px;
}
.part1-content>.content>.detail > div:nth-child(1) >.ic>div:nth-child(n) span:nth-child(2) {
    font-weight: bold;
    line-height: 100%;
    font-size: 17.5px;
    margin:0 0 0 12px;
    font-family:"degularBold";
 
}
.part1-content>.content>.detail > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.part1-content>.content>.detail > div:nth-child(2) >p {
    text-align: justify;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 79px;
    letter-spacing: 0px;
}
.part1-content>.content>.detail > div:nth-child(2)>.btn {
    display: flex;
    align-items: center;
}
.part1-content>.content>.detail > div:nth-child(2)>.btn>p {
    margin: 0;
    font-size: 31.5px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}
.part1-content>.content>.detail > div:nth-child(2)>.btn>span {
    display: flex;
    margin-left: 16px;
    margin-top: 5px;
    height: 29px;
}
.part1-content>.content>.detail > div:nth-child(2)>.btn>span  svg {
    transform: scale(1.0);
}
/* prepare-dom */
.prepare-dom {
    grid-column-start: 19 !important;
    grid-column-end: 25 !important;
    grid-row: 1;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}
.prepare-dom >div:nth-child(1) {
    width: calc(calc(100vw/24)*4) !important;
}
.prepare-dom>div:nth-child(2)>.img-perpare {
  
    overflow: hidden;
}
.prepare-dom>div:nth-child(2)>.img-perpare img {
    width: 100%;
    height: auto;
}


/* part2-content */
.part2-content {
    background-color: var(--bg-color-2);
}
.part2-content * {
    color: var(--color-text-onwhite);
}
.part2-content>.tit>h2 {
 
   
 
}
.part2-content>.content {
   
    height: fit-content;
}
.part2-content>.content>.detail {
   grid-column-start: 5;
   grid-column-end: 9;
    position: relative;
    display: flex;
    align-items: center;

}   
.part2-content>.content>.detail ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 93%;

   
}
.part2-content>.content>.detail ul li:nth-child(1),
.part2-content>.content>.detail ul li:nth-child(2){
    width: calc(var(--one--col)*3);
}
.part2-content>.content>.detail ul li:nth-child(3) {
    width: calc(var(--one--col)*3.5);
}
.part2-content>.content>.detail ul li span {
    color: var(--gold);
    font-family: "DegularLight";
    font-size: 31px;
    letter-spacing: 0.55px;
    font-weight: bold;
    line-height: normal;
    display: block;
    margin-top: 0px;
}
.part2-content>.content>.detail ul li p {
    font-size: 31px;
    font-weight: bold;
    line-height: 38px;
    margin-top: 29px;
    letter-spacing: 0.5px;
}
.slider-img-custom-004 {
    position: relative;
}
.slider-img-custom-004:after {
 
    content: "DRAG";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 46.7%;
    right: 0;
    transform: translate(50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gold);
    font-family: "degularBold";
    font-size: 17.5px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
}
.part2-content>.content>.img {
    grid-column-start: 11;
    grid-column-end: 16;
 
   
}
.part2-content>.content>.img,.part2-content>.content>.item-preview, .part2-content>.content>.img {
    height: 730px !important;
}
.part2-content>.content>.img img {
    width: 100%;
    height: 100%;
}
.part2-content>.content>.item-preview {
    grid-column-start: 20;
    grid-column-end: 24;
    display: flex;

    flex-direction: column;
    height: 1005;

}

.part2-content>.content>.item-preview > div:nth-child(n) {
    height: 50%;
    display: flex;
    flex-direction: column;
}
.part2-content>.content>.item-preview  > div:nth-child(2) {
    overflow: hidden;
}
.part2-content>.content>.item-preview  > div:nth-child(2)>img {
    width: 100%;
    height: auto;
    
}

.part2-content>.content>.item-preview  > div:nth-child(1)>h3 {
    font-family: "DegularLight" !important;
    font-size: 31px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.42px;
    word-spacing: 0px;
    align-items: start;


}
.part2-content>.content>.item-preview  > div:nth-child(1)>p  {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    align-items: center;
    margin: auto;
    display: block;
    height: fit-content;
    transform: translateY(-39%);
}


/* slider */
.slider-big {
/*     background: url('../assets/img/bg.png');
    background-size: contain; */

    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px auto;
}
.bg-sldier-section {
   
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100vw;
    height: fit-content;
    position: relative;
    display: flex;
}
.bg-sldier-section > img {
    width: 100%;
    height: auto;
  
}
.slider-big * {
    color: white;
}

.slider-big > div:nth-child(2)  {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    height: 80px;
}
.slider-big > div:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 156px;
    height: 1px;
    background: rgb(255, 255, 255);
}
.slider-big > div:nth-child(3)  {
    grid-row: 2;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;

}
.tit-slider {
    background: rgba(54, 54, 54, 0.60);

    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}
.tit-slider >div:nth-child(n) {
    width: 33.3333%;
    text-align: center;

  
}
.active-tab-slider-section {
    color: white !important;
}

.tit-slider >div:nth-child(n) > p {
    text-align: center;
    color: var(--color-active-text-onslidersection);
    font-size: 22.5px;
    font-weight: bold;
    line-height: 38px;
    letter-spacing: 1px;
    font-family: "DegularLight" !important;
}
.detail-slider {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50vh);
    width: 100%; */
    height: 100%;
    position: relative;

}
.detail-slider > .layout {
 position: relative;
    width: 100%;
    height: 300px;
  
} 


.detail-slider > .layout >.content {
    display: grid;
    grid-template-columns: repeat(var(--numColDes), 1fr);
    height: 329px;
    padding-top: 79px;
}
.detail-slider > .layout > .content * {
    grid-row: 1;
}

.detail-slider .btn-next,
.detail-slider .btn-prev {
    position: absolute;
    bottom: 72px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 38px;
    align-items: center;
    
}
.detail-slider .btn-next {
    width: calc(calc(var(--one--col)) * 1.09);
    left: calc(calc(var(--one--col) * 12.9));
}
.detail-slider .btn-prev {
    width: calc(var(--one--col) * 1.05);
    left: calc(var(--one--col) * 9);;
}
.detail-slider .btn-next p,
.detail-slider .btn-prev p {
    line-height:34px;
} 
.detail-slider .btn-next svg {
    transform: scale(1.0);
}
.detail-slider .btn-prev svg {
    transform: scale(1.0) rotate(180deg);
}
.detail-slider > .layout >.content > h2 {
    grid-column-start: 2;
    grid-column-end: 11;
    font-weight: 100;
    align-self: center;
    font-size: 76px;
    
    font-family: 'FreightBigProBook' !important;
    line-height:  82px;
    margin-top: -37px;
}
.detail-slider > .layout > .content > span {
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: start;
    grid-row: 1;
    font-size: 15.8px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'DegularLight'!important;
}

.detail-slider > .layout > .content > h3 {
    grid-column-start: 10;
    grid-column-end: 16;
    align-self: start;
    grid-row: 1;
    font-size: 35px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.72px;
    font-family: "DegularLight" !important;
}
.detail-slider > .layout > .content > p {
    grid-column-start: 10;
    grid-column-end: 15;
    font-size: 17.6px;
    font-weight: 500;
    align-self: end;
    line-height: normal;
    letter-spacing: 0.2px;
    font-family: 'DegularLight' !important;
}
.detail-slider > .layout > .content > div.process {
    grid-column-start: 10;
    grid-column-end: 12;
    align-self: center;
    display: flex;
}
.detail-slider > .layout > .content > div.process span {
    font-size: 15px;
    letter-spacing: 1.5px;
    font-family: "DegularLight" !important;
    font-weight: bold;
    display: block;
    margin: 4px 0 0 1px;
}


/* CONTACT */

.contact-secion-all {
    height: fit-content;
    width: 100%;
}
.grid-contact {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--numColDes), 1fr);
    
}
.contact__1 {
    grid-template-rows: repeat(2, auto);
}
.contact__2 {
    grid-template-rows: repeat(2, auto);
}



.contact__1 > h2,
.contact__1 > div.maps,
.contact__1 > div.info {
    grid-row: 2;
}
.contact__1 > div.maps img {
    width: 100%;
    height: auto;
}
.contact__1 > h2,
.contact__2 > h2 {
    color: var(--color-text-onwhite);
    font-family: "degular-text" !important;
    font-size: 62.5px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 72px;
    grid-column-start: 2;
    grid-column-end: 10;
}
.contact__1 > h2 {
    margin-top: 75px;
    padding: 0;

}
.contact__1 > span {
    color: var(--tag-pin);
    font-family: "DegularLight" !important;
    font-size: 12px;
    
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    height: fit-content;
    margin-top: 200px;
}
.contact__1 div.maps {
    grid-column-start: 10;
    grid-column-end: 15;

    height: calc(var(--one--col) * 5);
    margin-top: 75px;
    overflow: hidden;
}
.contact__1 div.info {
    grid-column-start: 18;
    grid-column-end: 22;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    padding-top: 75px;
}
.contact__1 div.info > div:nth-child(1) {
    margin-top: 22px;
}
.contact__1 div.info > div:nth-child(2) {
    margin-top: 56px;
}
.contact__1 div.info > div:nth-child(n) {
    padding-top: 5px;
  
    display: block;
    position: relative;
}
.contact__1 div.info ul,
.contact__1 div.info p {
    margin: 19.1px 0 0 0;
    display: block;
}
.contact__1 div.info ul {
    padding:0;
    
    list-style-type: none;
}
.contact__1 div.info h3 {
    color: var(--gold);
    font-family: "DegularLight";
    font-size:31px;
    
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1px;
}

.contact__1 div.info p,
.contact__1 div.info ul li {
    color: var(--color-text-onwhite);
    font-family: "DegularLight";
    font-size:18px;
    
    font-weight: 500;
    line-height: normal;
}
.contact__2 > h2 {
    margin-left: 7px;
    margin-top: 119px !important;
    display: block;
}
.contact__2 > h2,
.contact__2 > div.input {
    grid-row: 1;
    margin-top: 120px;
}
.contact__2 > div.form {
    grid-row: 2;
}
.contact__2 > div.input {
    grid-column-start: 10;
    grid-column-end: 19;
 
    display: flex;
    flex-direction: column;
    
}
.contact__2 > div.form {
    grid-column-start: 10;
    grid-column-end: 14;
    display: flex;
    height: 420px;
    align-items: center;
    transform: translateY(-8px);
}

.contact__2 > div.input input {
    outline: none;
    border: none;
    color: var(---input-color);
    font-family: "FreightBigProLight";
    font-size: 63.5px;
    font-weight: 400;
    line-height: 82px;
    box-sizing: border-box;
    letter-spacing: 1px;
    display: block;
    padding: 0;
    margin-left: 4px;
}
.contact__2 > div.input input:not(:first-child) {
    margin-top:20px;
}
.contact__2 > div.input input::placeholder {
    color: var(--placeholder-input);
}
.contact__2 > div.form p {
    color: var(--color-text-onwhite);
    font-family: "DegularLight";
    font-size: 31px;
    font-weight: 600;
    line-height: 38px;
    margin-left: 3px;
    letter-spacing: 0;
}

.contact__2 > div.form span {
    display: flex;
    margin-left: 15px;
}
.contact__2 > div.form span svg {
    transform: scale(0.86);
}

/* FOOTER */
footer {
    width: 100%;
    height: fit-content;
}
.footer {
    background-color: var(--footer-bgcolor);
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(var(--numColDes), 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 135px auto;
    height: 557px;
}

.footer * {
    color: white !important;
}

.footer > .pp1 {
    grid-column-start: 1;
    grid-column-end: 19;
    grid-row: 1;
   
    height: 135px;
   
}
.footer > .pp2 {
    grid-column-start: 1;
    grid-column-end: 19;
    grid-row: 2;
    
    height: 268px;

}
.footer > .pp2 h2 {
    font-family: "DegularLight" !important;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 49.5px;
}

.footer > .pp3 {
    grid-column-start: 1;
    grid-column-end: 19;
    grid-row: 3;
    height: 86px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer > .pp1 > div,
.footer > .pp2 > div,
.footer > .pp3 > div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(var(--numColDes), 1fr);
    grid-template-rows:  repeat(1, 1fr);

}

.footer > .pp1 > div > .img  {
    grid-column-start: 2;
    grid-column-end: 4;
    align-self:self-end;
    grid-row: 1;
    height: fit-content;
}
.footer > .pp1 > div > .img img {
    width: 80%;

}
.footer > .pp1 > div > h3:nth-child(n) {
    margin-bottom: 5px;
    font-family: "DegularLight" !important;
    font-size: 15.5px;
    
    font-weight: 700;
    line-height: normal;
  
    text-transform: uppercase;
    grid-row: 1;

    align-self: self-end;

    height: fit-content;

    transform: scaleY(0.97);
    letter-spacing: 1px;
}

.footer > .pp1 > div > h3:nth-child(1) {
    margin: 0 0 5px 5px;
}
.footer > .pp1 > div > h3:nth-child(2) {
    margin: 0 0 5px 1.5px;
}

.footer > .pp1 > div > h3:nth-child(3) {
   
}
.footer > .pp1 > div > .xo1,
.footer > .pp2 > div > ul.uo1,
.footer > .pp3 > div > p.yo1 {
    grid-column-start: 13;
    grid-column-end: 16;
   
}
.footer > .pp1 > div > .xo2,
.footer > .pp2 > div > ul.uo2,
.footer > .pp3 > div > p.yo2 {
    grid-column-start: 17;
    grid-column-end: 20;
   
}
.footer > .pp1 > div > .xo3,
.footer > .pp2 > div > ul.uo3 {
    grid-column-start: 21;
    grid-column-end: 23;
   
}
.footer > .pp2 > div > div > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footer > .pp2 > div > ul {
    padding: 0;
    margin-top: 57px;
    list-style-type: none;
}

.footer > .pp2 > div > div > ul li {
    font-size: 18px;
    line-height: 120%;
    color: var(--footer-text-dm) !important;
    margin-bottom:1px;
}


.footer > .pp2 > div > div > ul li:first-child{
    margin-top: 24px;
    
}   
.footer > .pp2 > div > div {
    grid-column-start: 2;
    grid-column-end: 8;
    margin-left: -2px;
    display: block;
    
}
.footer > .pp2 >div> ul li{
    margin-bottom: 14.4px;
    color: var(--footer-text-dm) !important;
    font-size:19px;
    line-height:normal;
    letter-spacing: 0.5px;
 
}

.footer > .pp3 > div > h3 {
    grid-column-start: 2;
    grid-column-end: 7;
    font-family: "DegularLight" !important;
    font-size: 14px;
    
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    align-self: center;
    margin-top: -4px;
}
.footer > .pp3 > div > p{
    align-self: center;
    font-size: 14px;
    color:var(--footer-text-dm) !important;
    margin-top: -6px;
    line-height: 140%; /* 19.6px */
    font-weight: normal;
    
}
.footer > .pp3 > div > p.yo3 {
    grid-column-start: 23;
    grid-column-end: 25;
    color: var(--footer-text-dm) !important;
   
   
}
